**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_config.yml
_includes/footer.liquid
_layouts/about.liquid
_news/announcement_3.md
_news/announcement_6.md
_pages/about.md
_pages/projects.md
_pages/publications.md
_projects/3_project.md
_projects/4_project.md
_projects/5_project.md
_projects/6_project.md
